files:
  /home/ec2-user/script.sh:
    group: root
    mode: "000755"
    owner: root
    content: |
      #!/bin/bash
      

  /home/ec2-user/covidnepal.py:
    group: root
    mode: "000755"
    owner: root
    source: https://raw.githubusercontent.com/basantashrestha/covid19tracker/master/src/covidnepal.py
    

  /home/ec2-user/covidnepal.csv:
    group: root
    mode: "000755"
    owner: root
    source: https://raw.githubusercontent.com/basantashrestha/covid19tracker/master/src/covidnepal.csv 

packages:
  yum:
    nmap: []

commands:
  streamlit:
    command: easy_install-3.7 streamlit
